
*.MP4

.ipynb_checkpoints/

data/Calib-test/

data/DE-C4D-1S-CALIB-FIELD14SOY2ND-GX010075/

data/DE-C4D-3RD-FIELD14SOY-CALIB--GX010087/

data/DE-C5D-1-CALIB-FIELD 7-GX010085/

data/DE-C5D-2-CALIB-2ND-GX010111/

data/DE-C5D-3-CALIB-FINAL READING-GX010113/

data/DE-C6D-1-CALIB-FIELD 30 1ST READING-GX010083/

data/DE-C6D-2-CALIB-2ND-GX010109/

data/MD-C4M-3-CALIB--GX010236/

data/TX-311-CALIB-TX-C10T-3-GX010084/

data/TX-COTTON1-1-CALIB-COTTON1-GX010031/

data/Red_balls/

data/Test/

__pycache__/
